/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    font: $font-size-base;
    font-weight: $font-weight-bolder;
    transition: $global-transition;
    color: $color-brand;

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}
